# Rush
common/temp/
*.log
.rush/

# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Local Docker exports
docker_images/*.tar

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
