# Server Port
PORT=4000

# Core Service gRPC URL
CORE_SERVICE_GRPC_URL=localhost:50051

# Core Service HTTP URL
CORE_SERVICE_HTTP_URL=http://localhost:3000

# API Prefix
API_PREFIX=api

# CORS
CORS_ORIGIN=*
